doctype html
html(lang="ru")
    head
        title=title
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")

        link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic")
        link(rel="stylesheet" href="angular-material/angular-material.css")
        link(rel="stylesheet" href="assets/app.css")

    body(ng-app="client" layout="row")
        div(flex layout="column" tabIndex="-1")
            md-toolbar.md-whiteframe-z1(layout="row")
            md-content#content(flex layout="row" layout-align="center center" ng-controller="Main as main"
                               style="background-image:url(assets/png/city08.png); background-size: 100% auto")
                form.md-whiteframe-z2(layout-padding layout="row"
                                      style="background: #fff" ng-if="!main.isAuthed()")
                    md-input-container
                        label="Email (обязательно)"
                        input(ng-model="main.email" type="email" required="true")
                    md-input-container
                        label="Пароль"
                        input(ng-model="main.password" type="password")
                    md-button.md-primary(md-no-ink ng-click="main.login()") Войти

script(src="angular/angular.js")
script(src="angular-animate/angular-animate.js")
script(src="angular-aria/angular-aria.js")
script(src="angular-material/angular-material.js")
script(src="client.js")
block js
script(type='text/javascript').

    angular.module('client', ['ngMaterial'])
           .factory('authInterceptor', authInterceptor)
           .service('user', userService)
           .service('auth', authService)
           .constant('ACCOUNT_SERVICE', 'http://localhost:3001/account')
           .config(function($httpProvider) {
                $httpProvider.interceptors.push('authInterceptor');
            })
           .controller('Main', MainCtrl)
           .config(function($mdThemingProvider, $mdIconProvider){
                            $mdIconProvider
                                    .defaultIconSet("./assets/svg/avatars.svg", 128)
                                    .icon("menu"       , "./assets/svg/menu.svg"        , 24)
                                    .icon("share"      , "./assets/svg/share.svg"       , 24)
                        .icon("google_plus", "./assets/svg/google_plus.svg" , 512)
                        .icon("hangouts"   , "./assets/svg/hangouts.svg"    , 512)
                        .icon("twitter"    , "./assets/svg/twitter.svg"     , 512)
                        .icon("phone"      , "./assets/svg/phone.svg"       , 512);

                $mdThemingProvider.theme('default')
                        .primaryPalette('blue')
                        .accentPalette('purple');

            });

